# Trực quan hóa và phân tích dữ liệu dung pandas
- pandas là thư viện trong python với ưu điểm nhanh, mạnh, linh động dễ sử dụng, mã nguồn mở, công cụ dùng để phân tích và thao tác dữ liệu, Pandas được xây dựng trên thư viện NumPy và có nhiều hàm hỗ trợ làm sạch, phân tích, và mo hình hóa dữ liệu, có thể giúp chúng ta tìm ra nhưng đặc trưng của các tập dữ liệu, Pandas rất nhiệu quả khi sử dụng trên dữ liệu bảng, như SQL table hoặc Excel sheet

- đặc điểm của pandas:
    +  Hỗ trợ thao tác dữ liệu nhanh chống và hiệu quả
    + Làm việc dễ dàng với dữ liệu dạng bảng(Giống excel, SQL)
    + xử lý dữ liệu thiếu linh hoạt(fillna, dropna, interpolate)
    +  Tích hợp chặt chẽ với Numpy(vì xây dụng trên cơ sơ của numpy)
    + Hỗ Trợ nhiều định dạng dữ liệu: CSV, Excel, Json, SQL, clipboard,....
    + tốc độ cao, tối ưu cho dữ liệu lơn(vì dự trên nền tảng numpy viết tren c)
    + cung cấp nhiều thao tác dũ liệu có sẵn như: Lọc, nhóm, thống kế, nối .v.v.v.v
- Cấu trúc dữ liệu chính của pandas:
    + Series: là một dãy số có index, giống một cột trong bảng dũ liệu
    + DataFrame: bảng hai chiều gồm nhiều dòng và cột, mỗi cột là một series là cấu trúc dữ liệu quan trọng và được dùng nhiều nhất
- ứng dụng của pandas:
    + Khoa học dữ liệu(Data Science) -> tiền xử lý dữ liệu, khám phá dữ liệu(EDA), trích xuất đặc trưng
    + Machine Learning -> chuẩn hóa, biến đổi dữ liệu đầu vào cho mô hình học máy
    + phân tích kinh doanh và tài chính -> phân tích doanh thu, chi phí, lợi nhuận, phân khúc khách hàng
    + xử lý dữ liệu lớn / dữ liệu log -> làm sach, lọc chuyển đổi dữ liệu từ hệ thống lỡn
    + Trực quan hóa dữ liệu -> kết hợp với matplotlib, seaborn để trực quan hóa dữ liệu
    + tự động hóa xử lý file excel / csv -> đọc, cập nhật ghi báo cáo định kỳ, tự đông hóa công vịec văn phòng.

# chúng ta sẽ học pandas và sử dụng pandas để thực hiện một số kỹ thuật phân tích trên hai bộ dữ liệu và text và time-series.

In [1]:
!pip install pandas

Requirement already satisfied: pandas in ./.venv/lib/python3.12/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in ./.venv/lib/python3.12/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 23.2.1 -> 25.3
[notice] To update, run: pip install --upgrade pip

In [ ]:
import pandas as pd

# đọc file csv, excel
pd.read_csv('data.csv')
# tạo DataFrame
pd.DataFrame()

# in ra phiên bản pandas
pd.__version__

'2.3.3'

# Cấu trúc dữ liệu chính
- Pandas xây dựng trên hai cấu trúc dữ liệu cốt lõi: Seriec và DataFrame, đây là nên tảng của mọi thao tác phân tích trong pandas

- Trong pandas, Series là một cấu trúc dữ liệu một chiều hoạt động như một mảng(array) có gán nhãn, mỗi phần tử trong series bao gồm một giá trị và một chỉ mục(index), mặc địch, nếu không chỉ định index, pandas sẽ tự động tạo ra index từ 0 đến n-1.
  + ví dụ: s = pd.Series([1, 3, 5, np.nan, 6, 8])
  + trong trường hợp này các phần từ sẽ có index là 0, 1, 2, 3, 4, 5 tương ứng với các giá trị, đây là là cách đơn giản nhất để tạo ra một series, tương tự như một mảng có đánh số dòng
  + tuy nhiên, pandas cho phép tùy chỉnh index bằng cách ruyền thêm tham số index = [....] khi khởi tạo series. Điểu này hữu ích khi muôn gán nhãn rõ ràng cho dữ liệu thay vì chỉ số số nguyên mặc định
  + ví dụ tạo series với index được gán thủ công:
  s = pd.Series([1, 3, 5, np.nan, 6, 8], index = ['a', 'b', 'c', 'd', 'e', 'f'])
  + việc gán index tùy chỉnh cho phspe truy xuất dữ liệu dễ dàng hơn bằng cách dùng nhãn thay vì số, ví dụ s['a'] sẽ trả về giá trị đầu tiên trong series  = 1.

- DataFrame là cấu trúc bảng hai chiều, gồm nhiều series, xép thành cột với nhãn dòng index và nhãn cột (columns)
  + ví dụ data = {'Name': ['John', 'Anna', 'Peter', 'Linda'], 'Age': [28, 22, 34, 42], 'City': ['New York', 'Paris', 'London', 'Berlin']}
  df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])
  + mỗi cột trong dataframe có thể mang kiểu dữ liệu khác nhau, một số kiểu dữ liệu phổ biến gồm:
    + int64
    + float64
    + object
    + bool
    + datetime64
    + category
  + Mỗi DataFram hỗ trợ các phép toán cơ bản như cộng, trừ, nhân, chia, và các phép toán phức tạp hơn như merge, join, groupby, pivot, và các phép toán thống kê như mean, median, std, var, min, max, count, sum, và các phép toán khác.

# Xem và khám phá dữ liệu
-  để hiểu tổng quan về tập dữ liệu, Pandas cung cấp nhiều hàm tiện ích giúp kiểm tra nhanh cấu trúc, kích thước, kiểu dữ liệu, tính phân bố, và tính trạng thiếu dữ liệu, Đây là bước quan trọng trước khi phân tích sâu hơn.
+ Một số hàm cơ bản thường dùng: df.head(), df.tail(), df.shape, df.dtypes, df.info(), df.isnull().sum(), df.describe()

# Truy xuất và xử lý dữ liệu

## Truy xuất bằng index và slicing
- Đối với Series có thể truy xuất dữ liệu theo chỉ số (index), tương tự như từ điển: s['index']
- ví dụ trên trả về giá trị tương ứng với nhãn chỉ mục 'b', đây là cách đơn giản và trực quan khi bạn làm vịec với dữ liệu được gán nhãn như một danh sách có tên
- đối với DataFrame có thể truy xuất dữ liệu theo chỉ mục (index) và cột (column) df['column_name'] ví dụ: df[1:] câu lệch trên sẽ trả về toàn bộ các dòng từ chỉ số 1 trở về sau, tức là bỏ qua dòng đầu tiên. Đây là cú pháp nhanh gọn để loại bỏ dòng tiêu đề, header lỗi hoặc phục vụ các thao tác như chuẩn hóa dữ liệu đầu vào

In [6]:
data = {
 'Name': ['Anh', 'Thai', 'Hoa'],
 'Country': ['Brazil', 'Vietnam', 'Vietnam']
 }
df = pd.DataFrame(data, columns=['Name', 'Country'])
df

   Name  Country
0   Anh   Brazil
1  Thai  Vietnam
2   Hoa  Vietnam

In [7]:
df[1:]

   Name  Country
1  Thai  Vietnam
2   Hoa  Vietnam

- Truy xuất với .Ioc[], .iloc[], .loc[], .at[], .iat[]
- pandas cung cấp 4 phương thức phổ biến để truy xuất dữ liệu từ DataFrame hoặc series, dựa trên hai nguyên tác truy xuất theo nhãn (Lable) hoặc theo vị trí (index). các phương thức này giúp lấy dữ liệu chính xác và hiẻu quả trong từng ngữ cảnh cụ thể
- .iloc[]: Truy xuất dữ liệu theo vị trí (index)
   + .iloc[] sử dụng chỉ số nguyên để truy xuất, thư tự bắt đầu từ 0 và hoạt động giống slicing trong python
- .loc[]: Truy xuất dữ liệu theo nhãn (label)
   + .loc[] sử dụng chỉ số nhãn để truy xuất,nhãn có thể là chuỗi hoặc giá trị trong chỉ mục được định nghĩ.
- .at[]: Truy xuất giá trị tại một vị trí cụ thể
   + .at[] sử dụng chỉ số nhãn để truy xuất giá trị tại một vị trí cụ thể
- .iat[]: Truy xuất giá trị tại một vị trí cụ thể
   + .iat[] sử dụng chỉ số nguyên để truy xuất giá trị tại một vị trí cụ thể

# Nhóm dữ liệu
- trong phân tích dữ liệu, việc nhóm các bản ghi theo một hoặc nhiều tiêu chí là thao tác phổ biến để tính toán thống kê cho từng nhóm riêng biệt, Pandas cung cấp phương thức groupby() để thực hiện điều này một cách hiệu quả và linh hoạt
- groupby hoạt động theo quy trình: Split dữ liệu thành từng nhóm. Apply hàm xử lý(tính trung bình, tổng, đếm ,vv.v.) và combine kết quả lại

In [9]:
# ví dụ về groupby
data = {
 'Name': ['Anh', 'Thai', 'Hoa'],
 'Country': ['Brazil', 'Vietnam', 'Vietnam']
 }
df = pd.DataFrame(data, columns=['Name', 'Country'])
df
df.groupby('Country').agg({'Name': 'count'})

         Name
Country
Brazil      1
Vietnam     2

In [14]:
# data salary
data = {
    "name": ["John", "Jane", "Jack", "Jill"],
    "department": ["HR", "IT", "HR", "IT"],
    "salary": [50000, 60000, 55000, 70000],
    "gender": ["Male", "Female", "Male", "Female"]
}
df = pd.DataFrame(data)
print(df)
df.groupby("department")["salary"].mean()

# nhóm nhiều cột cùng lúc
df.groupby(["department", "gender"])["salary"].sum()

   name department  salary  gender
0  John         HR   50000    Male
1  Jane         IT   60000  Female
2  Jack         HR   55000    Male
3  Jill         IT   70000  Female

department  gender
HR          Male      105000
IT          Female    130000
Name: salary, dtype: int64

# Sắp xếp dữ liệu
- để sắp xếp dữ liệu trong DataFrame, ta có thể sử dụng phương thức sort_values()

In [ ]:
# sắp xếp theo cột salary tăng dần
df.sort_values(by='salary')
print(df)

   name department  salary  gender
0  John         HR   50000    Male
1  Jane         IT   60000  Female
2  Jack         HR   55000    Male
3  Jill         IT   70000  Female

In [16]:
# sắp xếp theo cột salary giảm dần
df.sort_values(by='salary', ascending=False)

   name department  salary  gender
3  Jill         IT   70000  Female
1  Jane         IT   60000  Female
2  Jack         HR   55000    Male
0  John         HR   50000    Male

In [17]:
# sắp xếp theo nhiều cột
df.sort_values(['department', 'salary'], ascending=[True, False])

   name department  salary  gender
2  Jack         HR   55000    Male
0  John         HR   50000    Male
3  Jill         IT   70000  Female
1  Jane         IT   60000  Female

-  áp dụng hàm trùy chỉnh
 + apply() là phương thức linh hoạt cho phép áp dung một hàm bất kỳ lên từng hàng hoặc từng cột của DataFrame hoặc series. Rất hưu ích khi cần xử lý theo quy tắc phức tạp không có sẵn trong pandas.
  -  ví dụ: chuẩn hóa dữ liệu trong cột score về thàng điểm 10: 
     - df['score'] = df['score'].apply(lambda x: x/10)
     áp dụng một hàm xử lý cho từng dòng:
     + df.apply(lambda row: row['math'] + row['english'], axis=1) tham số axis=1 cho phép áp dụng hàm cho từng dòng nếu axis=0 thì áp dụng cho từng cột

In [18]:
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Country': ['USA', 'Canada', 'Austria', 'Germany'],
    'Grade': [88, 92, 87, 93]
}
df = pd.DataFrame(data)
print(df)

f = lambda x: x * 2
df['Grade'] = df['Grade'].apply(f)
print(df)

    Name  Country  Grade
0   John      USA     88
1   Anna   Canada     92
2  Peter  Austria     87
3  Linda  Germany     93
    Name  Country  Grade
0   John      USA    176
1   Anna   Canada    184
2  Peter  Austria    174
3  Linda  Germany    186

# Rolling 
- phương thức rolling() trong pandas tạo ra một đối tượng 'cửa số trượt'(rolling window) cho phép áp dụng các hàm thống kế (như mean, sum, std,v.vv) lên các tập giá trụ con liên tiếp theo chiều dọc của một cột, đây là công cụ đặc biệt hữu ích trong các bài toán phân tích chuỗi thời gian, nơi cần quan sát các xu hướng, biến động hoặc các đặc điểm thống kê trong các khoảng thời gian nhất định.
  + cho phép áp dụng các phép biến đổi tổng hợp trên 1 phạm vi giới hạn trượt theo từng dòng 
  + Hữu ích để làm mượt dữ liệu, phát hiện xu hướng ngắn hạn, hoặc tính toán trung bình động
  + có thể tùy chỉnh kích thước cửa số, lựa chọn căn chỉnh tâm cửa số , xử lý cạnh và các thống ố khác để phù hợp với yêu cầu phân tích cụ thể

In [20]:
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Country': ['USA', 'Canada', 'Austria', 'Germany'],
    'Grade': [88, 92, 87, 93]
}
df = pd.DataFrame(data)
print(df)

df['Grade'].rolling(3).sum() # tính tổng của mỗi cửa số 3 giá trị liên tiếp trong cột Grade. kết quả sẽ trả về một series mới, trong đó phân tử thứ ba chứ tổng của 3 giá trị đầu tiên, nếu chưa đủ dữ liệu sẽ nhận giá trị NaN

    Name  Country  Grade
0   John      USA     88
1   Anna   Canada     92
2  Peter  Austria     87
3  Linda  Germany     93

0      NaN
1      NaN
2    267.0
3    272.0
Name: Grade, dtype: float64

# Thao tác với chỉ mục(index)
- hai phương thức set_index và reset_index cho phép kiểm soát và cấu trúc lại chỉ mục (index) của bảng dữ liệu, chỉ mục đóng vai trò như khóa truy xuất nhanh và thường được sử dụng trong phân tích dữ liệu để phân nhóm, sắp xếp, hoặc truy vấn hiệu quả hơn
   + set_index(): dùng để chuyển một hoặc nhiều cột dữ liệu thành chỉ mục, giúp định danh các hàng theo thuộc tính cụ thể.
   + việc đặt chỉ mục có thể hỗ trợ trong việc lọc, phân nhóm haycx kết nối, dữ luệu(join/merge hiệu quả hơn)
   + reset_index(): dùng để hoàn nguyên DataFrame, chuyển chỉ mục trở thành một cột thông thường
   + Hưúich trong các bước tiền xử lý và hậu xử lý dữ liệu, đặc biệt khi cần sắp xếp lại cấu trúc bẳng sau thao tác nhóm hoặc tổng hợp

In [21]:
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Country': ['USA', 'Canada', 'Austria', 'Germany'],
    'Grade': [88, 92, 87, 93]
}
df = pd.DataFrame(data)
print(df)

df.set_index('Grade')

    Name  Country  Grade
0   John      USA     88
1   Anna   Canada     92
2  Peter  Austria     87
3  Linda  Germany     93

        Name  Country
Grade
88      John      USA
92      Anna   Canada
87     Peter  Austria
93     Linda  Germany

In [22]:
df.set_index('Grade').reset_index()

   Grade   Name  Country
0     88   John      USA
1     92   Anna   Canada
2     87  Peter  Austria
3     93  Linda  Germany

# Làm sạch dữ liệu
 - dữ liệu thu nhập từ thực tế hiếm khi hoàn chỉnh, chúng thường có những vấn đề phổ biến như: ô trống(missing values), định dạng sai(wrong format), nhiễu(noise), nhiều giá trị trùng lặp(duplicates), hãy dữ liệu bất hợp lý (invalid data). việc xử lý các vấn đề này là bước thiết yếu trước khi phân tích hay xấy dựng mô hình học máy, học sâu

In [37]:
import pandas as pd
import numpy as np

data = {
    'name': ['John','Anna','James','Linda','Mark','John','Paul'],
    'age': [28,22,35,32,25,np.nan,22],
    'city': ['New York','Paris','London','Berlin','Tokyo','New York','Tokyo']
}

df = pd.DataFrame(data)
print(df)

    name   age      city
0   John  28.0  New York
1   Anna  22.0     Paris
2  James  35.0    London
3  Linda  32.0    Berlin
4   Mark  25.0     Tokyo
5   John   NaN  New York
6   Paul  22.0     Tokyo

In [40]:
# xử lý dữ liệu NAN
df.dropna()
df.dropna(axis=1)
df.fillna(0)
df['age'].fillna(df['age'].mean())
print(df)

    name   age      city
0   John  28.0  New York
1   Anna  22.0     Paris
2  James  35.0    London
3  Linda  32.0    Berlin
4   Mark  25.0     Tokyo
5   John   NaN  New York
6   Paul  22.0     Tokyo

# Sửa định dạng dữ liệu 
- định dạng dữ liệu không đúng có thể gây lỗi khi tính toán hoặc trục quan hóa. Pandas hỗ trọ ép kiểu (type conversion) để chuyển đổi dữ liệu thành định dạng mong muốn. để đảm báo tính chính xác của dữ liệu

In [44]:
data = {
    'name': ['John','Anna','James'],
    'age': ['28', '22', ''],
    'join_date': ['2022-01-01', '2021-12-15', '2023-03-10'],
    'is_active': ['True', 'False', 'True']
}

df = pd.DataFrame(data)

df['age'] = pd.to_numeric(df['age'], errors='coerce')
df['join_date'] = pd.to_datetime(df['join_date'])
df['is_active'] = df['is_active'].astype(bool)

print(df)

    name   age  join_date  is_active
0   John  28.0 2022-01-01       True
1   Anna  22.0 2021-12-15       True
2  James   NaN 2023-03-10       True

# Xóa dữ liệu trùng lặp
- các bản ghi trùng lặp thường làm sai lệch thống kê hoặc gây thiên lệch trong mô hình. pandas hỗ trợ nhiều phương pháp hiện và loại bỏ trùng lặp linh hoạt.
- ví dụ: df.drop_duplicates(), df.drop_duplicates(subset=["column1", "column2"]) , df.drop_duplicates(keep="first") 
- giải thích từng câu lệch drop_duplicates xóa các dòng trùng lặp hoàn toàn mọi giá trị giống nhau. dùng trong các bảng dữ liệu tổng hợp hoặc xuất từ hệ thống lỗi
- subset = "email" chỉ xóa trùng lặp trong cột email nếu hai bản ghi có cùng địa chỉ email thì coi là trùng lặp
- keep = "last" chỉ xóa các bản ghi trùng lặp và giữ lại bản ghi cuối cùng
- keep = "first" chỉ xóa các bản ghi trùng lặp và giữ lại bản ghi đầu tiên
- keep = False xóa tất cả các bản ghi trùng lặp
- dùng df[df.duplicated()] để kiểm tra xem có bản ghi trùng lặp không